body,html {
	background-color: #ccc;
	padding: 0px;
	margin: 0px;
}
* {
	font-family: Arial, "sans-serif";
}
p,td {
	color: #666;
}
h1,h2,h3,h4 {
	font-family: Verdana, "sans-serif";
	font-weight: bold;
	color: #f90;
}
h1 {font-size: 14pt;}
h2 {font-size: 1.2em; color: #393;}
h3 {font-size: 1.1em;}
h4 {font-size: 1em;}
a {
	color: #393;
	font-weight: bold;
}
a:hover {
	color: #999;
}
hr {
	height: 1px;
	border: none 0;
	border-bottom: 1px dashed #666;
	height: 1px;
}
	
.footer * {
	color: #fff;
	font-weight: bold;
	font-size: .9em;
	text-align: center;
}
.footer a:visited {
	color: #fff;
	font-weight: bold;
	font-size: .9em;
	text-align: center;
}

.footer a {
	text-decoration: underline;
	border: none;
}
.footer a:hover {
	color: #ff9;
}
#nav .selected {
	background-color: #393;
}
#nav {
	border: none;
}
#home_margin, #home, #visiting, #programs, #booking, #support, #support_margin {
	background-color: #f90;
}
#nav a {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	border: none;
}
#eventsList {
	font-size: .9em;
	font-style: italic;
}
#eventsList .date {
	font-style: normal;
	font-size: 1em;
	font-weight: bold;
	color: #393;
}
.slideshow_title {
	font-style: bold;
	font-size: 14px;
	font-weight: bold;
	color: #393;
}
.slideshow_caption {
	font-size: 12px;
	font-style: italic;
	color: #f90;
	line-height: 1.4em;
}
.slideshow_description {
	font-size: 10px;
	color: #444;
	line-height: 1.4em;
}
.slideshow_navthumb {
	background: #ccc;
	border: 1px solid #444;
}
.slideshow_navthumb_selected {
	background: #f90;
	border: 1px solid #444;
}
.imagespacingright {
	margin-left: 10px;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px;
	border: 1pt solid #2A5621;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: None;
	color: #666;
}
.picturerule {
	padding: 0px;
	margin-left: 6px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-top-width: 1;
	border-right-width: 1;
	border-bottom-width: 1;
	border-left-width: 1;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
